<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>diceroll</title>
</head>
<body>
    <h1>the dice value <%= diceval %></h1>
    <% if(diceval == 6){ %>
        <h1>you got 6 and roll again</h1>
    <% }%>
    <%- include("footer.ejs") %>
</body>
</html>